/* PlanView Component Styles */

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  min-width: 0;
  height: 100%;
  overflow: hidden;
}
